version: '3'
services:
  postgres:
    image: circleci/postgres:11-alpine-ram
    ports:
    - 5432:5432
    environment:
      POSTGRES_DB: cth
      POSTGRES_USER: cth
      POSTGRES_PASSWORD: cth
    volumes:
    - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
